.overlay-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}
.overlay-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}


/* Navbar.css */
.main-navbar {
  position: relative;
  width: 100%;
  padding: 12px 0;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  background: transparent;
  box-shadow: none;
}

.main-navbar.fixed {
  position: fixed;
  top: 0;
  background: #fff;
  box-shadow: 0 8px 25px rgb(0, 0, 0);
}

/* Header.css */
.custom-header {
  background-color: transparent;
  color: white;
  padding: 15px 0;
  position: relative;
  z-index: 10;
  transition: all 0.3s;
}